body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#container {
  width: 100vw;
  height: 100vh;
  background: black;
  position: relative;
}
.hotspot {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(255, 0, 0, 0.2); /* 나중에 투명하게 바꿔도 됨 */
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.hotspot:hover {
  background: rgba(255, 0, 0, 0.4);
}